<h1>Company</h1>
<form ng-submit="addCompany()" class="formCom">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Company name</label>
        <input ng-model="company.company_name">
    </md-input-container>
    <md-input-container>
        <label>Company address</label>
        <input ng-model="company.company_address">
    </md-input-container>
    <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    <md-button class="md-raised md-warn" ng-click="logout()">Logout</md-button>
</form>