<h1>In home</h1>
<div layout="column" ng-cloak>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h1 class="md-flex">Create your Company</h1>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <p>Create your company by clicking Create company or if your company already exists in the account than just click login</p>
        <md-button class="md-raised md-warn" ng-click="goToSignup()">Signup</md-button>
        <md-button class="md-raised md-primary" ng-click="goToLog()">Login</md-button>
    </md-content>
</div>