<ion-view title="Salesman app">
    <ion-header-bar>
        <div class="bar bar-header bar-calm">
            <h1 class="title">Salesman app</h1>
          <ion-nav-bar>
          <ion-nav-buttons side="left">
            <button class="button" ng-click="logout()">
              Logout
            </button>
          </ion-nav-buttons>
          </ion-nav-bar>
        </div>
    </ion-header-bar>
    <ion-content>
<h1>Dashboard</h1>
      <h1>Products</h1>
      <ul>
        <li ng-repeat="pro in displayProducts track by $index">
          <p ng-bind="pro.productName"></p>
          <p ng-bind="pro.productPrice"></p>
          <p ng-bind="pro.productStock"></p>
        </li>
      </ul>
    </ion-content>
</ion-view>