<ion-view view-title="Salesman app">
  <ion-nav-bar class="bar-calm">
  </ion-nav-bar>
  <ion-content>
<form ng-submit="login()">
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="Name" ng-model="salemanData.salemanName"/>
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="salemanData.salemanPassword"/>
    </label>
  </div>
  <button class="button button-balanced" type="submit">
    Login
  </button>
</form>
  </ion-content>
</ion-view>
